@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&family=Rye&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html{
  background-image: url('../src/assets/img/paper-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(32, 32, 32);
}

.main-title-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding: 16px;
  background-color: black;
}

.container{
  padding-top: 24px;
  color: azure;
}

.person-card {
  color: red;
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-right: 80px;
  justify-content: center;
  flex-direction: column;
  width: 380px;
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;
}

.person-title{
  color: red;
  padding: 16px;
  font-family: 'Roboto', sans-serif;
}
.person-card h3 {
  margin-bottom: 0;
}

.person-card img {
  width: 280px;
  height: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}


.card-row{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content: center;
  flex-direction: row;
  /* background-color: rgb(32, 32, 32); */
}

.title{
  font-family: 'Rye', serif;
  color: red;
  font-size: 30px;
  text-transform: uppercase;
}

.card{
  width: 380px;
  color: azure;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
}

.card-image{
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.image-div{
  width: 380px; 
  color: 'azure';
}

.personal-image {
  width: 280px;
  height: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.not-found{
  color: azure;
  font-family: 'Roboto', sans-serif;
}

.back-container{
  text-align: right;
  padding: 8px;
  margin-right: 24px;
  font-family: 'Roboto', sans-serif;
}
.back{
  text-decoration: none;
  color: red;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  transition: ease 0.5s; 
  font-weight: bold;
}
.back:hover{
  color: rgb(255, 170, 0);
  
}

.description-child{
  color: 'azure'; 
  display: flex; 
  flex-wrap: wrap;
  margin-left: 80px;
  flex-direction: row;
  margin-right: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: '8px';
  font-family: 'Roboto, sans-serif';
  font-size: 24px;
  justify-content: center;
}

.description-table{
  min-width: 320px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.description-table p span{
  text-transform: uppercase; 
  color:rgb(94, 94, 94);
}

.publication{
  margin-top: 24px;
  margin-bottom: 64px;
  color: rgb(28, 28, 28);
  font-family: 'Roboto', sans-serif;
}

.aliases, .age-range, .nationality, .sex, .hair, .eyes, .complexion, .weight, .scars-and-marks, .occupations, .languages, .place-of-birth, .details, .caution, .remarks, .suspects, .description, .classification, .reward{
  color: rgb(28, 28, 28);
  font-family: 'Roboto', sans-serif;
  margin-bottom: 12px;
}